{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">

Dashboard

</h2>

<div class="row">

<div class="col-md-3">

<div class="card card-box">

<h5>Active Trips</h5>

<h2>12</h2>

</div>

</div>

<div class="col-md-3">

<div class="card card-box">

<h5>Available Vehicles</h5>

<h2>25</h2>

</div>

</div>

<div class="col-md-3">

<div class="card card-box">

<h5>Drivers On Duty</h5>

<h2>18</h2>

</div>

</div>

<div class="col-md-3">

<div class="card card-box">

<h5>Maintenance</h5>

<h2>4</h2>

</div>

</div>

</div>

{% endblock %}